body {
    background-color: rgb(27, 26, 26);
    color: white;
}

* {
    list-style: none;
    text-decoration: none;
}

/* ---------- navigation bars style ------- */


.nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 57px 130px;



}

.nav-bar-right {
    color: #E6533C;
}

.nav-bar-left ul {
    display: flex;
    gap: 20px;
    border: #565454 solid .5px;
    padding: 4px;
    border-radius: 50px;
    background-color: black;

}




.nav-bar-left li {

    color: rgb(255, 255, 255);
    border-radius: 50px;
    padding: 8px 20px;


}

.nav-bar-left li:nth-child(1) {
    background-color: #E6533C;
}



.nav-bar-left li a {

    color: white;
}

/* - ---=====================----------------nave card styles ----======================-- - */

#nav-card {
    display: flex; 
    padding: 50px 130px 0px 0px;
    margin: 50px 0px 0px 190px;
    justify-content: space-between; 
    gap: 167px; 
    flex-wrap: wrap;


}

#nav-card .text-card {
    width: 50%;
    margin: 95px 0px 0px -50px;


}

#nav-card .text-card span {
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
}

.text-card h1 {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
    font-size:40px;
    margin-top: -150px;
    margin-bottom: 0px;
    padding: 0px 20px 0px 0px;
    font-size: 70px;

}

.text-card p {
    padding: 0px 50px 0px 0px;
}

.text-card .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    margin-top: 30px;


}

.text-card button {

    padding: 10px 20px;

    background-color: black;
    border: white solid 1px;
    border-radius: 50px;
    color: white;
}

.text-card .buttons .join-button {
    background-color: #E6533C;
    border: none;
}

.img-card {
    width: 10%;
    position: relative;
    margin-top: -100px;
    margin-left: 30px;





}

.img-card .workout {
    position: absolute;
    background-color: #5f5d5d;
    
    border-radius: 12px;
    z-index: 1;
    top: 126px;
    right: -50px;
    left: -50px;
    line-height: 1px;


}

.img-card .workout h1 {
    padding: 12px 24px 0px 24px;

}

.img-card .workout p {
    padding: 5px 24px 16px 23px;

}

.img-card img {
    width: 330px;
    height: 550px;
    margin-left: -250px;
}

.img-card .tutorial {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5e5e5e;
   
    border-radius: 12px;
    left: -330px;
    bottom: 70px;
    line-height: 1px;
    z-index: 2;
}

.img-card .tutorial .circle {
    width: 37px;
    height: 30px;
    border-radius: 100%;
    margin-left: 10px;
    background-color: #E6533C;
}

.img-card .tutorial h1 {
    padding: 10px 25px 0px 12px;
}

.img-card .tutorial p {
    padding: 0px 12px 8px 12px;
}

/*--------------------- hatits styles---------------------- */

.habits {
    padding: 0px 130px 0px 0px;
    margin: 50px 0px 0px 190px;
}

.habits .habite-text {
    text-align: center;
}

.habits .habite-text h1 {
    margin-bottom: 0px;
    font-size: 50px;
}

.habits .habit-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
    justify-content: space-around;
    align-items: center;
    margin-right: -100px;

}

.habit-cards .habits-card {
    text-align: center;

}

.habit-cards .habits-card img {
    border-radius: 100px;
    padding: 0px 15px;
}

.habit-cards .habits-card h1 {
    margin: 30px 0px 0px 0px;

}

.habit-cards .habits-card p {
    margin-top: 6px;
}


/* -----------=====================runs styles---------------============================= */

.run {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 130px 0px 0px;
    margin: 50px 0px 0px 190px;
    gap: 165px;
    justify-content: space-between;
    align-items: center;
}

.run .run-text {
    padding: 40px 0px 40px 54px;
}

.run .run-text h1 {
    font-size: 50px;
    font-weight: 443px;
    margin-bottom: 0px;
}


.run .run-text .join-button {
    padding: 16px 71px;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 16px 40px;
    background-color: #E6533C;


}

.run .run-img {

    padding: 30px 32px 29px 0px;
}

.run img {
    width: 366px;
    height: 312px;
    border-radius: 18px;
}

/* ======================= ---exercise styles---------======== */
#Exercises{ 
    justify-content: center;
 align-items: center;
 text-align: center;
 
  
    
}
 .text { 
 text-align: left;
 padding: 0px 190px 0px 100px;
 }
 .text h1{
    font-size: 50px;
 }
 .text p{
    padding: 0px 400px 0px 0px;
 }
 .all-imges{
    display: grid;
    grid-template-columns: repeat(3,0fr);
    align-items: center;
    justify-content: center;
    padding-right:190px  ;
    position: relative;
    margin-top: 58px;
    
 }

  
 .all-imges .width1 img{
    width: 250 px;
    height: 245px;
    
 }
 .all-imges .width1{
     margin-left:   190px;
     position: relative;
     
     
 }
 .all-imges .width1 p{
    position: absolute;
    bottom: 50px;
   left: 50px;
 }
 .all-imges .width2 img{
    width: 480px;
    height:250px ;

    
 }
 .all-imges .width2{
    margin: 0px 0px 0px -100px;
    position: relative;
    
 }
 .all-imges .width2 p{
     position: absolute;
     top: 20px;
     left: 31px;
      
  }
 .all-imges .width3 img{
    width: 268px;
    height: 250px;
    
 }
 .all-imges .width3{
    margin: -10px;
    padding: 0;
    position: relative;
    background-image: linear-gradient();
 }
 .all-imges .width3 p{
    position: absolute;
     padding:  0px 50px 0px 0px;
    left: 27px; 
    bottom:21px ;
  }

 .all-imges .width4 img{
width: 350px;
height: 250px;
margin-top: -20px;
 }
 .all-imges .width4{
    margin-left: 190px;
    position: relative;
 }

 .all-imges .width4 p{
    position: absolute;
    top:  0px;
    right: 31px; 
    text-align: right;
    padding: 0px 0px 0px 150px;
  }
  
 .all-imges .width5 img{
    width: 288px;
    height: 250px;
    margin-top: -20px;
    margin-left: -20px;
 }
 .all-imges .width5{
    margin: 0px;
    position: relative;
    
 }
 .all-imges .width5 p{
    position: absolute;
    bottom: 23px;
    left:34px ; 
    text-align: left;
    padding: 0px  150px 0px 0px;
     
  }
 .all-imges .width6 img{
    width: 370px;
    height: 250px;
    margin-top: -20px;
    margin-left: -24px;
    
 }
 .all-imges .width6{
    margin: 0px 0px 0px -90px;
    position: relative;

 }
 .all-imges .width6 p{
    position: absolute;
    bottom: 23px;
    left:34px ; 
    text-align: left;
    padding: 0px  150px 0px 0px;
     
  }

/* =======---Calculator styles=========== - */
#Calculator {
    padding-bottom: 30px;
}

.Calculator-heading {
    text-align: center;
    margin: 88px 385px 88px 385px;



}

.Calculator-heading h1 {
    font-size: 50px;
}

.Calculator-chart {

    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    padding: 50px -200px 30px 190px;

    align-items: center;
    justify-content: space-evenly;
    background-color: #363636;



}

.Calculator-chart .chart-card {
    margin-left: 100px;
    margin-top: 0px;
}

h3 {
    font-size: 30px;
}

table {
    border-collapse: collapse;
    border: 1px solid #e4e1e1;
    margin-top: 52px;
    width: 30%;
}


th {
    padding: 6px 120px 4px 18px;
    border: 1px solid #e4e1e1;
    text-align: left;
}

td {
    padding: 6px 0px 6px 18px;

    border: 1px solid #e4e1e1;
    text-align: left;
}


.Calculator-chart .chart-card-right {
    margin-top: 100px;
    padding-right: 200px;
    width: 30%;
}


form {
    margin-top: 34px;

}

.input {
    margin-bottom: 12px;
    display: flex;
    justify-content: start;
    gap: 12px;


}

input {
    padding: 13px 0px 13px 20px;
    border-radius: 8px;
    width: 50%;
}

.input select {
    width: 50%;
    padding: 13px 0px 13px 20px;
    border-radius: 8px;
}

select {
    width: 100%;
    padding: 13px 0px 13px 20px;
    border-radius: 8px;
}


form button {

    padding: 16px 40px;
    margin-top: 34px;
    margin-bottom: 50px;
    background-color: black;
    border: white solid 1px;
    border-radius: 50px;
    color: white;
    background-color: #E6533C;
    border: none;
}


/*---------------------------------- team styles--------------------      */
#team {
    margin: 50px 0px 0px 190px;
    margin: 50px 190px 88px 190px;

}

.team-text {
    text-align: center;
}

.team-imgs {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 58px;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 1em;
    background-color: #373737;
    padding: 20px;
    margin-right: -50px;
    border-radius: 18px;
}

.team-imgs img {
    height: 272px;
    width: 272px;
    border-radius: 18px;

}

/* <!--======================= footer styles =========================--> */

#footer {
    background-color: #333333;
    width: 100%;
    padding-bottom: 10px;

}
#footer p{
    color:#939292
}

.last-section {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: start;
    padding: 66px 190px ;
    margin-bottom: -79px;
}
 


.fitness {
    padding:  0px 122px 66px 50px;
    margin-right: 152px;
    margin-left: -50px;
    
}

.fitness h1 {
    font-weight: bold;
    font-size: 50px;
    font-family: "PT Serif", serif;
    color: #E6533C;
  margin:  15px
}

.fitness p {
    padding: 0px 102px 76px   0px;
   
}

.start {
    display: flex;
    text-align: left;
    align-items: start;
    position: relative
}

.started {
    position: absolute;
    
}

.left {
    left: -70px;
    margin-left: -250px;
     
}
.right{
    
   margin-left: -80px;
   margin-right: -50px;
   margin-top:  0px;
   width: 50%;
   

}
hr{
     margin:   0px   190px;
      
}
#footer .end{
    text-align: center;
}

.hide{
    display: none;
}


@media screen and (max-width:550px) {
  
.nav-bar{
    flex-direction: column;
}

.nav-bar-left ul{
    flex-direction: column;
}
    /* #nav-card- media */
#nav-card {
    display: flex; 
    flex-direction: column;
    padding: 0px  0px 0px 0px;
    margin:  0px 0px 0px   0px;
    
   
}

#nav-card .text-card {
    width:calc(100% - 40px) ;
    margin: 0 auto  ; 

} 
.text-card h1 { 
     margin-top: 0px;
     padding: 0 auto;
     font-size: 50px;
} 
.text-card p {
    padding:0 auto;
} 
.text-card .buttons {
    display: grid;
    grid-template-columns: repeat(2,2fr);
     margin-right: 0px;
    
}

 
.img-card {
    width:calc(100% - 40%) ; 
    margin: 0 auto;

   
}

.img-card .workout { 
    top:  -60px;
      margin: 0 auto;
    right:  -50px;
    left: 90px;  
     
}

.img-card .workout h1 {
    padding:0 auto;
    

}

.img-card .workout p {
   padding:0 auto;

}

.img-card img {
    width:  0 auto ;
    margin-left:-60px;
    
    
}

.img-card .tutorial {
       margin: 0 auto;
   right:  40px;
    left:    -10px;
    bottom: 100px;
}

.img-card .tutorial .circle {
     
     
    margin-right:  10px;
    
}

.img-card .tutorial h1 {
    padding: 0px  ;
}

.img-card .tutorial p {
    padding: 0px ;
}

 
}

 